<!DOCTYPE html>
<html ng-app="contatooh">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Contatooh</title>
    <!-- build:css css/style.css -->
    <link rel="stylesheet"
    href="../../public/vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet"
    href="../../public/vendor/bootstrap/dist/css/bootstrap-theme.css"/>
    <!-- endbuild -->
  </head>
  <body class="container">
    <div class="text-right">
      <p>
        Logado como: <span id="usuario-logado">
          <%=usuarioLogado %>
        </span>
        <a href="/logout">Logout</a>
      </p>
    </div>
    <div ng-view></div>
    <!-- build:js  js/all.js -->
    <script src="../../public/vendor/angular/angular.js"></script>
    <script src="../../public/vendor/angular-route/angular-route.js"></script>
    <script src="../../public/vendor/angular-resource/angular-resource.js"></script>
    <script src="../../public/js/main.js"></script>
    <script src="../../public/js/services/ContatoService.js"></script>
    <script src="../../public/js/controllers/ContatoController.js"></script>
    <script src="../../public/js/controllers/ContatosController.js"></script>
    <!-- endbuild -->
  </body>
</html>
